.container {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 1em auto 0;
  padding: 1em 0;
}

input{
  color: #333;
}

input::-webkit-input-placeholder {
  color: #e3e3e3;
}

input::-moz-input-placeholder {
  color: #e3e3e3;
}

input,
fieldset {
  border: 1px solid #e3e3e3;
  box-shadow: -1px 1px 3px #333;
}

/* form styles*/
form{
  margin-top: 1rem;
}

fieldset {
  margin: 0 auto;
  padding: 1rem;
}

legend {
  font-size: 1.6em;
}

input {
  width: 60%;
  margin-right: 6%;
  font-size: 1.6em;
  text-indent: .3em;
}

input[type="submit"] {
  margin: 0;
  width: 33%;
  text-indent: 0;
}

.placeholder {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

.tasks, .placeholder{
  margin: 0 auto;
  padding: 0;
  list-style: none;
}