.wrapper + .wrapper {
  margin: 1em auto 0;
}

.task {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  user-select: none;
}

.complete .title {
  text-decoration: line-through;
}

.actions {
    font-size: 1.6em;
    justify-self: flex-end;
}

.prioritize,
.deprioritize {
    display: block;
}